{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">{% blocktranslate %} Bosh Sahifa {% endblocktranslate %}</a>
                    <span></span> {% blocktranslate %} Ro'yxatdan o'tish {% endblocktranslate %}
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">{% blocktranslate %} Hisob ochish {% endblocktranslate %}</h3>
                                        </div>
                                        <p class="mb-50 font-sm">
                                            {% blocktranslate %} Sizning shaxsiy ma'lumotlaringiz ushbu veb-saytdagi amalyotlaringizni qo'llab-quvvatlash, hisobingizga kirishni boshqarish va maxfiylik siyosatimizda tasvirlangan boshqa maqsadlarda foydalaniladi. {% endblocktranslate %}
                                        </p>
                                        <form method="post">{% csrf_token %}

                                            <div class="form-group">

                                                {{ form.first_name }}
                                            </div>
                                            <div class="form-group">

                                                {{ form.last_name }}
                                            </div>
                                            <div class="form-group">

                                                {{ form.username }}
                                            </div>

                                            <div class="form-group">

                                                {{ form.password }}
                                            </div>

                                            <div class="form-group">

                                                {{ form.confirm_password }}
                                            </div>
                                            
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">{% blocktranslate %} Yuborish {% endblocktranslate %} &amp; {% blocktranslate %} Ro'yxatdan o'tish {% endblocktranslate %}</button>
                                            </div>
                                        </form>
                                        <div class="divider-text-center mt-15 mb-15">
                                            <span>{% blocktranslate %} Yoki {% endblocktranslate %}</span>
                                        </div>
                                        <div class="text-muted text-center">{% blocktranslate %} Hisobingiz bormi? {% endblocktranslate %}<a href="{% url 'accounts:login' %}">{% blocktranslate %} Hozir kiring {% endblocktranslate %}</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}