{% extends "base.html" %}
{% load humanize %}
{% load i18n %}

{% block content %}


    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> <a href="{% url 'products:shop_detail' product.slug product.uuid %}">{{ product.title }}</a>
                </div>
            </div>
        </div>
        <section class="mt-60 mb-60">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Billing Details</h4>
                        </div>
                        <form method="post" action="{% url "order:order_create_one_click" product.uuid  %}">{% csrf_token %}
                            {% if request.user.is_authenticated %}
                                <div class="form-group">
                                    
                                    <input type="text" required="" name="first_name" placeholder="First name *" value='{{ request.user.first_name }}'>
                                </div>
                                <div class="form-group">
                                    <input type="text" required="" name="last_name" placeholder="Last name *" value='{{ request.user.last_name }}'>
                                </div>
                                
                                <div class="form-group">
                                    <input required="" type="text" name="phone_number" placeholder="Phone *" value='{{ request.user.username }}'>
                                </div>
                            {% else %}
                                <div class="form-group">
                                        
                                    <input type="text" required="" name="first_name" placeholder="First name *">
                                </div>
                                <div class="form-group">
                                    <input type="text" required="" name="last_name" placeholder="Last name *">
                                </div>
                                
                                <div class="form-group">
                                    <input required="" type="text" name="phone_number" placeholder="Phone *">
                                </div>
                                
                            {% endif %}
                            <input  type="hidden" name="color" value={{ color.uuid }}>
                            <input  type="hidden" name="size" value={{ size.uuid }}>
                            <button type='submit' class="btn btn-fill-out btn-block mt-30">Place Order</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Color</th>
                                            <th>Size</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="image product-thumbnail"><img src="{{ product_image.image.url }}" alt="{{ product.title }}"></td>
                                            <td><a href="{% url 'products:shop_detail' product.slug  product.uuid %}">{{ product.title }}</a></td>
                                            <td>{{ color }}</td>
                                            <td>{{ size }}</td>
                                            <td>
                                               
                                                <span class="text-brand">{{ product_price|floatformat:0|intcomma }} {% blocktranslate %} so'm {% endblocktranslate %}</span>
                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}